@import '../../assets/scss/config/index';


.features {
   padding: 3.5rem 0;
   @include e(inner) {
      position: relative;
      padding-top: 20px;
      @include mq-max(lg) {
         padding-top: 0;
      }
   }
   @include e(list) {
      padding: 1.5rem 0;
      @include mq-max(md) {
         padding: 0;
         margin-bottom: 0;
      }
      &.right{
         text-align: left;
         [class*="items"] {
            padding-left: 50px;
            &::after {
               @extend %icon-check;
               left: 0;
            }
            @include mq-max(md) {
               padding-left: 40px;
            }
         }
      }
      &.left{
         text-align: right;
         [class*="items"] {
            padding-right: 50px;
            &::after {
               @extend %icon-check;
               right: 0;
               @include mq-max(md) {
                  left: 0;
               }
            }
            @include mq-max(md) {
               padding-left: 40px;
            }
         }
         @include mq-max(md) {
            text-align: left;
         }
      }
   }
   @include e(items) {
      font-size: 1.15rem;
      color: color(grayscale, text);
      padding: .95rem 0;
      border-bottom: 1px solid #e8e8e8;
      list-style: none;
      position: relative;
      @include mq-max(md) {
         font-size: 1rem;
         padding: .65rem 0;
      }
   }
   @include e(image) {
      padding: 0 2.5rem;
      @include mq-max(lg) {
         display: none;
      }
   }
}