@import '../../assets/scss/config/index';


.features {
   padding: 3.5rem 0;
   @include e(inner) {
      position: relative;
      padding-top: 20px;
   }
   @include e(list) {
      padding: 1.5rem 0;
      &.right{
         text-align: left;
         [class*="items"] {
            padding-left: 50px;
            &::after {
               @extend %icon-check;
               left: 0;
            }
         }
      }
      &.left{
         text-align: right;
         [class*="items"] {
            padding-right: 50px;
            &::after {
               @extend %icon-check;
               right: 0;
            }
         }
      }
   }
   @include e(items) {
      font-size: 1.1rem;
      color: color(grayscale, text);
      padding: .95rem 0;
      border-bottom: 1px solid #e8e8e8;
      list-style: none;
      position: relative;
   }
   @include e(image) {
      padding: 0 2.5rem;
   }
}