@import '../../assets/scss/config/index';

.header {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   padding-top: 0;
   padding-bottom: 0;
   z-index: 999;
   transition: .3s;
   background: transparent;
   @include mq-max(lg) {
      position: relative;
      background-color: color( primary, base );
   }

   @include e(menu) {
      margin-left: auto;
      &.navbar-nav {
         margin-right: 8rem;
         @include mq-max(lg) {
            margin-right: 2rem;
         }
         .nav-link {
            color: color( grayscale, white );
         }
      }
   }

   @include e(logo) {
      width: 110px;
      @include mq-max(sm) {
         width: 80px;
      }
   }
   .container {
      border-bottom: 1px solid rgba(191, 191, 191, 0.20);
      padding: 0.4rem 0 1rem;
      @include mq-max(lg) {
         position: relative;
         border: none;
         padding: .2rem 0;
      }
   }
}