@import '../../assets/scss/config/index';

.footer {
   padding: 2.5rem 0 1rem;
   background: color(gradient, base);

   @include e(logo) {
      width: 140px;
      @include mq-max(sm) {
         width: 120px;
      }
   }

   @include e(social) {
      display: flex;
      margin: 1rem 0;
      img {
         width: 26px;
         &:hover { opacity: .86;}
      }
   }

   @include e(copyright) {
      font-size: .87rem;
      &-icons { 
         text-align: right;
         img { width: 100px; } 
         @include mq-max(md) {
            text-align: center;
            margin-bottom: 1rem;
         }
      }
      &-links {
         @include mq-max(md) {
            text-align: center;
            margin-bottom: 1rem;
         }
      }
   }

   hr {
      border-top: 1px solid rgba(255, 255, 255, 0.35);
   }
}