%icon-check {
   content: url(../../../assets/images/check-mark.svg);
   position: absolute;
   top: 0;
   width: 35px;
   height: 60px;
   display: flex;
   align-items: center;
   @include mq-max(md) {
      width: 26px;
      height: 50px;
   }
}
