@import '../../assets/scss/config/index';

.banner {
   font-family: $font-family-brand;
   height: 800px;
   padding-bottom: 2.2rem;
   position: relative;
   overflow: hidden;
   z-index: 1;
   background: url(../../assets/images/bg-5.svg) no-repeat left top / cover;
   @include e(shape) {
      position: absolute;
      height: 220%;
      width: 96%;
      display: block;
      border-radius: 120px;
      background: color(gradient, base);
      bottom: 0;
      right: 0;
      transform: translate(23%, -27%) rotate(-35deg);
      z-index: 0;
   }
   @include e(intro) {
      background: url(../../assets/images/Shape_triangle.svg) no-repeat 0;
      background-size: cover;
   }
   @include e(thumb) {
      max-width: 360px;
      padding-top: 7.5rem;
   }
   @include e(title) {
      color: color(primary, base);
      font-size: 2.1rem;
      line-height: 1.35;
      strong {
         font-weight: $font-balck;
         font-size: 2.55rem;
      }
      .actual-price {
         color: color(accent, base);
         font-weight: $font-balck;
         font-size: 2.8rem;
         line-height: 0;
      }
      .old-price {
         color: color(grayscale, gray);
         font-weight: $font-light;
         text-decoration: line-through;
         font-size: 1.8rem;
      }
   }
   @include e(subtitle) {
      font-weight: $font-bold;
      color: color(grayscale, text);
      font-size: 1.4rem;
      margin-bottom: 1rem;
   }
   @include e(form) {
      padding-right: 4.2rem;
      .form-control {
         margin-bottom: .8rem;
         padding: .35rem 1rem;
         border-color: #E0E0E0;
         height: 45px;
         &::placeholder {
            color: color(grayscale, gray);
            font-size: .9rem;
         }
      }
   }
}